:root{
    --primary-color: red;
    --secondary-color: white;
    --tertiary-color: rgb(192, 190, 190);
    --accent-color: blue;
}

html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    display: flex;
}

.sidebar{
    flex: 1 1 auto;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
}

.addProject {
    order: 99;
}

.toDoSection:hover {
    background-color: rgb(248, 102, 102);
}

main{
    flex: 5 1 auto;
    background-color: var(--primary-color);
}

.modalOverlay {
    z-index: 2;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #414141c7;
}

.modalContainer {
    z-index: 3;
    right: 50%;
    top: 50%;
    background: green;
    height: 300px;
    width: 300px;
    position: absolute;
}

.modalContainerToDo {
    z-index: 3;
    right: 50%;
    top: 50%;
    background: green;
    height: 300px;
    width: 300px;
    position: absolute;
}